@{
    ViewData["Title"] = "Home Page";
}
<html>
<head></head>
<body class="bodyimg">
<div class="rounded-bottom">
<h1>Welcome to SRI's clinic</h1>
    <br />
    <br />
    <hr />

</div>
<div class="row">
    <div class="col-md-8">
        <h3>Please Login to book an appointment for doctor.</h3>  
        <h3>If you do not have account please Register.</h3>
        <img class="card-img" src="~/images/img-1.jpeg"alt="doctor image" />
    </div>
  
</div>




</body>
</html>